/*
  COLORS:
    Light green: #7ed56f
    Medium green: #55c57a
    Dark green: #28b485
*/

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* width and height include content, padding and border */
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
}

.header {
  height: 95vh;
  position: relative; /* position absolute is anchored according to its first parent whose position is set to relative */
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.logo-box {
  position: absolute; /* header is set to position relative */
  top: 4rem;
  left: 4rem;
}

.logo {
  height: 3.5rem;
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-align: center;
}

.heading-primary {
  color: #FFF;
  margin-bottom: 6rem;
}

.heading-primary-main {
  display: block;
  letter-spacing: 3.5rem;
  font-size: 6rem;
  font-weight: 400;
  animation: moveInLeft 1s ease-out;
}

.heading-primary-sub {
  display: block;
  letter-spacing: 1.74rem;
  font-size: 2rem;
  font-weight: 700;
  animation: moveInRight 1s ease-out;  
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn:link,
.btn:visited {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.2s;
}

.btn-white {
  background-color: #FFF;
  border-radius: 10rem;
  padding: 1.5rem 3rem;
  color: #777;
}

.btn-white:hover {
  box-shadow: 0 2rem 2rem rgba(0,0,0,0.2);
  transform: translateY(-3px);
}

.btn-white:active {
  box-shadow: 0 1rem 1rem rgba(0,0,0,0.2);
  transform: translateY(-1px);
}

.btn::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10rem;
  z-index: -1;
  background-color: #FFF;
  transition: all .4s;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom .4s ease-out .75s backwards;
}